/* auth.css */

/* Estilo de fondo solo para la página de registro */
.auth-container {
  background: linear-gradient(135deg, white 25%, blue 70%, rgb(197, 47, 47) 80%);
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos comunes para los formularios de login y registro */
.auth {
  max-width: 400px;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(240, 18, 18, 0.1);
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos específicos para el formulario de registro */
.auth-container .auth h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.auth-container .auth input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-container .auth button {
  padding: 12px;
  background-color: #1212ce;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.auth-container .auth button:hover {
  background-color: #280a9e;
}

.auth-container .register-text {
  margin-top: 10px;
  font-size: 14px;
  color: aqua;
}

.auth-container .register-text a {
  color: #ffffff;
  text-decoration: none;
}

.auth-container .register-text a:hover {
  text-decoration: underline;
}
