/* Estilo general para el body */
body {
  background: linear-gradient(to right, #132436 0%, #A50044 100%); /* Solo el fondo en el body */
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}

/* Estilos comunes para los formularios de Login y Register */
.auth {
  max-width: 400px;
  width: 100%;
  text-align: center;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(240, 18, 18, 0.1);
  font-family: 'Inter', Arial, sans-serif;

  /* Centrado específico para las páginas de Login y Register */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

/* Estilo del título h2 */
h2 {
  color: #360ec5;
  margin-bottom: 20px;
}

/* Estilo de los inputs */
input {
  padding: 12px;
  margin-bottom: 15px; /* Espacio entre inputs */
  border: 1px solid #030202;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

input:focus {
  border-color: #4b40ae;
}

/* Estilo de los botones */
button {
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #280a9e;
}

/* Estilo del párrafo con el enlace */
.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: #02d9ff;
}

.register-text a {
  color: #ffffff;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

/* Error popup */
.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.error-popup_open {
  display: flex;
}

.error-popup__content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.error-popup__image {
  max-width: 100%;
  height: auto;
}

.error-popup__close {
  margin-top: 10px;
  padding: 10px;
  background: #be0303;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
