/* Contenedor de las tarjetas */
.cards {
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
  max-width: 1600px;
  margin: auto;
}

/* .cards__card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
  width: 100%;
  max-width: 282px;
} */
.cards__card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
  width: 282px;
  position: relative;
}


.cards__image {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.cards__like-icon {
  width: 1.3rem;
  height: 1.2rem;
  background-image: url(../images/icon/like-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: none; /* Elimina cualquier borde existente */
  outline: none;
  background-color: #ffffff;
}

.cards__like-color {
  background-image: url(../images/icon/like-button-active.svg);
}

.cards__delete-icon {
  background-image: url(../images/Trash.svg);
  width: 1.3rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none; /* Quita el borde */
  background-color: transparent; /* Hace el fondo transparente */
  padding: 0; /* Quita el relleno del botón */
  transition: 0.4s ease-in-out;
}

/* Mostrar el ícono solo si el usuario es el propietario */
.cards__delete-icon_visible {
  display: block;
}

/* Ocultar el ícono si el usuario no es el propietario */
.cards__delete-icon_hidden {
  display: none;
}
.cards__like {
  display: none;
}

.cards__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1.3rem 1.9rem;
}

.cards__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  width: 92%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__like-count {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 10px;
  color: #2600fb;
}

@media screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 1.2rem;
  }

  .cards__card {
    width: 100%;
    height: auto;
    max-width: none;
  }
}
