.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #282c34;
  color: rgb(255, 255, 255);
  position: fixed; /* Hace que el header quede fijo en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Fija la altura del header */
  z-index: 1000; /* Se asegura de que esté siempre encima */
}

.header__logo {
  height: 40px;
}

.header__nav {
  display: flex;
  gap: 15px;
}

.header__auth-links {
  display: flex;
  gap: 15px;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.header__link:hover {
  color: #61dafb;
}

.header__logout {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}

.header__logout:hover {
  color: #61dafb;
}
@media screen and (max-width: 576px) {
  .header__logo {
    margin-bottom: 32px;
    width: 7.875rem;
  }

  .header {
    padding-left: 1.69rem;
  }

  /* Reducir tamaño del link para facilitar la visibilidad del botón de logout */
  .header__link {
    font-size: 12px; /* Reducir tamaño de fuente */
    padding: 2px 6px; /* Ajustar espacio interno */
    white-space: nowrap; /* Evitar que el texto se corte */
    overflow: hidden; /* Asegura que no se extienda más allá de su contenedor */
    text-overflow: ellipsis; /* Añade puntos suspensivos si es necesario */
    max-width: 80px; /* Limita el ancho del enlace */
  }

  .header__auth-links {
    gap: 8px; /* Reduce el espacio entre los elementos */
  }

  .header__logout {
    font-size: 14px; /* Mantiene el logout un poco más grande que el link */
    padding: 5px 10px; /* Espaciado interno para una mejor interacción */
  }
}
