/* General Popup Styles */
.popup {
  display: none; /* Ocultar por defecto */
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  justify-content: center;
  align-items: center;
}

/* Titulo dentro del Popup */
.popup__title {
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.5rem;
  margin: 0 0 1.5rem;
}

/* Contenedor del Popup */
.popup__container {
  width: 26.875rem;
  position: relative;
  border-radius: 0.625rem;
  background-color: #fff;
  padding: 2.125rem 2.25rem 2.2819rem;
  box-sizing: border-box;
}

/* Input dentro del Popup */
.popup__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.8125rem 0.3125rem;
  margin-top: 1.0625rem;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
}

/* Contenedor de Imagen dentro del Popup */
.popup__container_image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

/* Clase para Popup Abierto */
.popup_opened {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  justify-content: center;
  align-items: center;
}

/* Botón de Envío */
.popup__submit {
  margin: 3rem 0 0;
  width: 100%;
  padding: 0.875rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.125rem;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
}

.popup__submit:disabled {
  opacity: 0.8;
  background-color: #fff;
  border: 1px solid;
  color: grey;
}

/* Botón de Cerrar */
.popup__close {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  cursor: pointer;
  background-image: url(../images/icon/close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popup__close:hover {
  opacity: 0.6;
}

/* Ajustes en dispositivos pequeños */
@media screen and (max-width: 576px) {
  .popup__close {
    top: -3rem;
    right: 0.2rem;
  }

  .popup__container {
    width: 88%;
    padding: 1.56rem 1.38rem;
  }

  .popup__title {
    font-size: 1.125rem;
    margin-bottom: 4.5rem;
  }
}

/* Errores en Input */
.popup__input-type_error {
  border-color: rgb(255, 0, 0);
}

.popup__input-error {
  color: rgb(255, 24, 8);
  font-size: 12px;
  margin-top: 4px;
}

.popup__input-type_error + .popup__input-error {
  visibility: visible;
}

/* Botón Disabled en Popup */
.popup__button_disabled {
  border-color: rgb(0, 23, 99);
}

/* Estilos adicionales para nuevo botón */
.popup__submit-newPlaces {
  margin: 3rem 0 0;
  width: 100%;
  padding: 0.875rem;
  background-color: #080808;
  color: #fff;
  border: none;
  border-radius: 0.125rem;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
}

.popup__submit-newPlaces:disabled {
  opacity: 0.8;
  background-color: #ffffff;
  border: 1px solid;
  color: rgb(0, 0, 0);
}

/* Clase para cuando el Popup está abierto */
.popup_is-opened {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
